* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}


#main {
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out;
}

#main.open {
    transform: translate(0,0);
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

hr {
    width: 80%;
}

#map {
    height: 90vh;
    width: 100%;
}

/* navbar */

.navbar {
    width: 100%;
    height: 72px;
    background-color: white;
    border-bottom: solid black;
    position: sticky;
    top: 0;
}

.header-menu {
    text-decoration: none;
    font-size: 25px;
    padding: 8px;
    display: inline-block;
    color: #000;
}

.header-name {
    display: inline-block;
}

#drawer {
    top: 0;
    width: 16.8%;
    height: 90vh;
    position: absolute;
    z-index: 1000;
    /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
    transform: translate(-250px, 0);
    transition: transform 0.2s ease-in-out;
    border-right:solid #000;
}

/* #drawer.open {
    transform: translate(0,0)
} */

#drawer ul {
    list-style-type: none;
    padding: 0 10px;
}


#drawer li {
    padding: 5px 0px;
}

#hamburger {
    font-size: 32px;
    text-decoration: none;
    color: black;
}

/* Side Bar */

.drawer-name {
    text-align: center;
}

.drawer-title {
    padding-left: 20px;
    font-weight: light;
    margin: 0;
}

.drawer-subtitle{
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}

.drawer-subtitle a {
    margin-left: -5px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.drawer-subtitle input {
   right: 5px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
